.Header{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
   
}
.Navigation{
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
 

}
a{
    text-decoration: none;
    color: aquamarine;
}